<a href="https://colab.research.google.com/github/TD-HarryPotter13/ED1358/blob/main/Array2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [124]:
class Array2D():
  def _init_(self, row, col): 
    self.__row = row
    self.__col = col
    self.__datos = [0 for x in range(self.__row, self.__col)] 
  
  def get_item( self , row, col):
    return self.__datos[3,4]

  def set_item(self,row,col , valor):
    self.__data[3,4]=valor  

  def get_row_size(self):
	  return self.__row

  def get_col_size(self):
	  return self.__col   

  def to_string(self):
      print(self.__datos)   
  
  def clear(self, valor):  
    self.__datos = [0 for x in range(self.__row, self.__col)]

  

    info = Array2D(3,4)
    info.set_item( 1,3, Persona("Brandon") )
    info.set_item( 2,2, Persona ("Herelyn") ) 
    
    print( info.get_row_size(3) )
    print( info.get_col_size(4) )
    print( info.get_item(2,2) )
    print( info.to_string() )
    info.clear( None )
    info.clear( Alumno("Maria") )

In [123]:
ejemplo = Array2D